body {
	background-color: #e8e8e8;
}

div.head {
	color: #e8e8e8;
	border: 2px solid #e8e8e8;
	border-radius: 25px;
	padding: 30px;
}

section.main {
	padding: 50px;
}

h1 {
	font-size: 40px;
}

.landing-text {
	padding-top: 40px;
}

.text {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.870588);
}
a:link {
	text-decoration: none;

}
a:visited {
	text-decoration: none;

}
a:hover {
	    background-color: #e8e8e8;
}
.card {
	width:100px;
	height:129px;
}
.footer  {
	text-align:left !important;
}

nav {
	font-size: 16px;
}

hr {
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid #ccc;
}

.staff-container .col-md-3 {
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 15px;
}
<<<<<<< HEAD
.text-muted {
	color: black
=======

.stratus-card {
	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
	border-radius: .285714rem;
	margin-top: 15px; 
}

.stratus-card-container {
	width: 98%;
	margin: auto;
	padding: 20px;
}

.stratus-card-title {
	font-size: 20px;
}

.stratus-card-content {
	background-color: #F8F8F9;
	font-size: 15px;
	border: 1px solid grey;
	padding: 7px 14px 7px 14px;
	border-radius: 5px;
	margin: 7px;
}

.stratus-card-link {
	margin-bottom: 12px;
>>>>>>> origin/bootstrap
}
