<!DOCTYPE html>
<html>
<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>{{page.title }}</title>
	<link href="assets\favicon.ico" rel="shortcut icon" type="image/png">
	<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<script type="text/javascript" src="/assets/scripts/clipboard.js"></script>
	<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" >
	function popup(id, position, title) {
    $(id).popup({
        title: title,
        position: position,
        hoverable: false,
        lastResort: 'top center'
    })
    $(id).popup('show');
    setTimeout(function(){
        $(id).popup('destroy');
    }, 750);

    }
	</script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="border-bottom-style: solid; border-color: lightgray">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Stratus Network</a>
        </div>
        <div class="collapse navbar-collapse" id="mobile-navbar">
            <ul class="nav navbar-nav">
                <li><a href="/announcements">Announcements</a></li>
                <li><a href="https://stratusnetwork.buycraft.net/" target="_blank">Shop</a></li>
                <li><a href="/rules">Rules</a></li>
            </ul>
        </div>
    </nav>
    <div class="container" style="padding-top: 70px">

    	{{ content }}

    </div>
    <section style="background-color: white; padding-top: 20px; border-top-style: solid; border-color: lightgray">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5 style="font-weight: bold">&copy; Stratus Network</h5>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><b>Information</b></li>
                            <br>
                            <li><a class="btn btn-default" role="button" href="/announcements"><i class="fa fa-bullhorn"></i> Announcements</a></li>
                            <li><a class="btn btn-default" role="button" href="/revisions"><i class="fa fa-code-fork"></i> Revisions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><b>Organization</b></li>
                            <br>
                            <li><a class="btn btn-default" role="button" target="_blank" href="https://github.com/StratusNetwork/Map-Rotations/issues"><i class="fa fa-cube"></i> Map Submissions</a></li>
                            <li><a class="btn btn-default" role="button" href="/rules"><i class="fa fa-balance-scale"></i> Rules</a></li>
                            <li><a class="btn btn-default" role="button" href="/staff"><i class="fa fa-id-badge"></i> Staff Listing</a></li>
                            <li><a class="btn btn-default" role="button" href="/conduct"><i class="fa fa-book"></i> Staff Code of Conduct</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><b>Moderation</b></li>
                            <br>
                            <li><a class="btn btn-default" role="button" data-toggle="modal" data-target="#modal-report"><i class="fa fa-legal"></i> Report a Player</a></li>
                            <li><a class="btn btn-default" role="button" data-toggle="modal" data-target="#modal-appeal"><i class="fa fa-comments-o"></i> Appeal a Punishment</a></li>
                            <li><a class="btn btn-default" role="button" href="/apply"><i class="fa fa-briefcase"></i> Apply for a Role</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked">
                            <li><b>Get Involved</b></li>
                            <br>
                            <li><a class="btn btn-default" role="button" target="_blank" href="https://twitter.com/stratusmc"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a class="btn btn-default" role="button" target="_blank" href="https://discord.me/stratus"><i class="fa fa-microphone"></i> Discord</a></li>
                            <li><a class="btn btn-default" role="button" target="_blank" href="https://github.com/stratusnetwork"><i class="fa fa-github"></i> Github</a></li>
                            <li><a class="btn btn-default" role="button" target="_blank" href="mailto:networkstratus@gmail.com"><i class="fa fa-envelope-o"></i> Email</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="modal-report-label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-report-label">Report a Player</h4>
                        </div>
                        <div class="modal-body">
                            <p>If you would like to report a play of commiting a punishment please send an email to the email address below. In this email please make sure to include your minecraft in-game name, the minecraft in-game name of the player you are reporting, the rule the player broke, and evidence of the player breaking said rule. Thank you for your paitence and we will deal with valid reports as swiftly as possible.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="mailto:networkstratus@gmail.com" class="btn btn-default" style="border-style: solid; border-width: 2px; border-color: lightblue" role="button">networkstratus@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-appeal" tabindex="-1" role="dialog" aria-labelledby="modal-appeal-label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-report-appeal">Appeal a Punishment</h4>
                        </div>
                        <div class="modal-body">
                            <p>If you would like to appeal a punishment please send an email to the email address below. In this email please make sure to include your minecraft in-game name, the reason you were punished, any counter evidence you may have, and why you think you should be pardoned of the punishment. Thank you for your paitence and we will deal with valid appeals as swiftly as possible.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="mailto:stratusappeals@gmail.com" class="btn btn-default" style="border-style: solid; border-width: 2px; border-color: lightblue" role="button">stratusappeals@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93225802-1', 'auto');
  ga('send', 'pageview');
</script>
</html>
